.discussions-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  direction: rtl;
}

.nav{
    direction: rtl;
}

.discussion-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.discussion-input input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.discussion-input button {
  padding: 5px 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.discussion-list {
  list-style: none;
  padding: 0;
}

.discussion-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.discussion-text {
  font-size: 18px;
  margin-bottom: 10px;
  overflow: auto;
  overflow-wrap: break-word;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  margin-top: 10px;
}

.comment-text {
  font-size: 16px;
  margin-bottom: 5px;
}
.inputField {
  height: 80px;
  width: 100%;
}

.comment-input {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.commentField {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.comment-input button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Adjusted to align with the textarea */
  margin-bottom: 30px;
}

.comment-input div {
  margin-right: 10px; /* Add margin to the right to create space between the textarea and the text */
  font-size: 14px; /* Optional: Adjust font size if needed */
  white-space: nowrap; /* Ensure the text stays on one line */
}

.comment-input input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}


.discussion-input {
  margin-bottom: 20px;
}

.inputField,
.commentField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.discussion-list {
  list-style-type: none;
  padding: 0;
}

.discussion-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.discussion-text {
  font-size: 18px;
  margin-bottom: 5px;
}

.discussion-author {
  font-size: 12px;
  color: blue;
  text-align: right;
}

.comment-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.comment-item {
  border-top: 1px solid #eee;
  padding-top: 5px;
  margin-top: 5px;
}

.comment-text {
  font-size: 16px;
}

.comment-author {
  font-size: 12px;
  color: blue;
  text-align: right;
}

.comment-input {
  margin-top: 10px;
}