.discussions-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  direction: rtl;
}

.nav {
  direction: rtl;
}

.discussion-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.discussion-input .inputField {
  width: 140%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.discussion-input button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.discussion-list {
  list-style: none;
  padding: 10px 0;
}

.discussion-item_podcasts {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 10px;
  width: 50%;
}

.discussion-text_podcasts {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: right;
  overflow: auto;
  overflow-wrap: break-word;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  margin-top: 10px;
}

.comment-text {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: right;
}

.comment-input {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.commentField {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.comment-input button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 30px;
}

.comment-input div {
  margin-right: 10px;
  font-size: 14px;
  white-space: nowrap;
}

.comment-input input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}
